#nop core/reagents/get.tt;
/*
	Author: LokiChaos ©2009-2016 Released under the ISC License (See doc/license.txt)
*/
#nop CLASS: reagents/get;

#gag {^You open};
#gag {^You close};
#gag {^You see nothing like that in};
#gag {^$};

/* For each bag that we can't empty incriment the counter by one */
_Event_register {item} {reagGet} {_reagNoRoom};

#alias {_reagNoRoom} {
	#if {"%2" == "inv_noroom"} {
		#math stateChar[have_reagents] {$stateChar[have_reagents] + 1};
	};
}

#alias {_cleanReagGet} {
	#nop %1;
	_Event_remove_specific {item} {reagGet};
	_Class purge tmp/core/reagent/get; 
}

/* Verify loading */
#var loadState {1};
/* EOF */
