#nop MODULE: survey;
#nop DESC: Reformats survey output to ID locations & distances;

#act {^You survey the area around you%*, and see:$} {
	_Class load tmp/module/survey modules/survey/surveysub.tt;
	_Event_oneshot {prompt_post} {surveyClean} {_mod_survey_clean};
}
