#nop MODULE: bossSort;
#nop DESC: Sorts Bosses in personal log;

#act {^You have killed:$} {
	_Class load tmp/module/bossSort modules/sort_bosses/sort.tt;
}

/* Verify loading */
#var loadState {1};
/* EOF */
