#nop core/equipment/armor.tt;
/*
	Author: LokiChaos ©2009-2016 Released under the ISC License (See doc/license.txt)
*/
#nop CLASS: equip/armor;

#gag {^You are using:}
#gag {^<}
#gag {^$}
#gag {^Equipped weapon damage:}
#gag {points of damage against}
#gag {Excepting defenses and dynamic modifiers, you will hit %d% of the time.}
