#nop core/equipment/silentEquip.tt;
/*
	Author: LokiChaos ©2009-2016 Released under the ISC License (See doc/license.txt)
*/
#nop CLASS: equip/silentEq;

#gag {^You are using:}
#gag {^<}
#gag {^$}
#gag {^Current Armor Resistance (AR)}
#gag {^({H|T|A|L|W}}
#gag {^Equipped weapon damage:}
#gag {^With your knowledge}
#gag {Excepting defenses and dynamic modifiers, you will hit %d% of the time.}
