#nop

#act {^     a stamp commemorating %* (#%d)} {
	#format _mod_Collectables_sort[%2] {     (%+3s) %s} {#%2} {%1};
	#line gag;
}

#act {^A total of %d (33 max) item{|s} weighing %d st{|s}, %d pb{|s} (3 sts, 50 pbs max).$} {
	#foreach {${_mod_Collectables_sort[]}} {__idx} {
		#echo {${_mod_Collectables_sort[${__idx}]}};
	};
	#unvar __idx;
	#unvar _mod_Collectables_sort;
	#var client[State][autoContinue] 0;
}

