#nop lib/confirm.tt;
/*
	Author: LokiChaos ©2009-2016 Released under the ISC License (See doc/license.txt)
*/
#nop CLASS: confirm;
#nop PROVIDES: lib/confirm;
#nop REQUIRES: lib/class;

/*
	confirm_prompt {promot string} {timeout}
*/

#alias {confirm_prompt} {
	#echo {%1};
	#var __confirm[prompt] {%1};
	#if {"%2" == "%d"} {
		#var __confirm[timeout] {%2};
	};
	_Class load tmp/confirm lib/rtlib/confirm.tt;
}

/* Verify loading */
#var loadState {1};
/* EOF */
