#nop lib/sound.tt;
/*
	Author: LokiChaos ©2009-2016 Released under the ISC License (See doc/license.txt)
*/
#nop CLASS: sound;
#nop PROVIDES: lib/sound;
#nop REQUIRES: lib/shell;

/* Verify loading */
#var loadState {1};
/* EOF */
