#nop core/tick/sync.tt;
/*
	Author: LokiChaos ©2009-2016 Released under the ISC License (See doc/license.txt)
*/
#nop CLASS: tick/sync;

/*
	Synchronises the tick timer to the game's ticks.
	Do NOT call directly, rather if you wish to add
	and event to sync with, raises the event.
	_Event_raise {synctick};
*/

#if {"${_syncLimit}" != "1"} {
	#untick {master};
	_OnTick;
	#tick {master} {_OnTick} {15};
	#var _syncLimit 1;
	#delay {syncCool} {
		#unvar _syncLimit;
	} {5};
};

